<div class="main main-raised">
  <div class="container">
    <div class="section" id="benefits">
      <div class="card card-profile col-md-6">
        <div class="card-image">
          <img class="center-block" src="<%= image_url("public/benefits.jpg") %>">
        </div>
        <div class="content text-left">
          <h3 class="card-title">Benefits of Scouting</h3>

          <p>Scouting provides youth with an opportunity to try new things, provide service to others, build
            self-confidence, and reinforce ethical standards. These opportunities not only help them when they are
            young but also carry forward into their adult lives, improving their relationships, their work lives,
            their family lives, and the values by which they live.</p>
          <p>A 2005 study by Harris Interactive found that 83 percent of men who were Scouts in their youth agree
            that the values they learned in Scouting continue to be very important to them today. Eighty-seven
            percent of men who remained in Scouting five or more years attribute some of their self-confidence in
            their work to their Scouting experience. Half of the group say Scouting had a positive effect on their
            career development and advancement, and 83 percent say there have been real-life situations where having
            been a Scout helped them be a better leader.</p>
          <p>As youth, Scouts are taught to live by a code of conduct exemplified in the 12 points of the Scout Law,
            and they continue to live by these laws in adulthood.</p>
          <ul>
            <li><strong>Trustworthy:</strong> The majority of Scouts agreed that Scouting has taught them always
              to be honest (75 percent) and to be a leader (76 percent).
            </li>
            <li><strong>Loyal:</strong> Eighty-eight percent of Scouts are proud to live in the USA, and 83
              percent say spending time with family is important to them.
            </li>
            <li><strong>Helpful:</strong> Eight out of 10 Scouts surveyed believed that helping others should come
              before their own self-interest.
            </li>
            <li><strong>Friendly:</strong> Eighty percent of Scouts say that Scouting has taught them to treat
              others with respect and (78 percent) to get along with others.
            </li>
            <li><strong>Courteous:</strong> Almost nine of 10 Scouts (87 percent) believe older people should be
              treated with respect.
            </li>
            <li><strong>Kind:</strong> Most Scouts agree (78 percent) Scouting has taught them to care or other
              people, while 43 percent say their skills in helping other people in need are “excellent.”
            </li>
            <li><strong>Obedient:</strong> Boys in Scouting five years or more are more likely than boys who have
              never been in Scouts to reject peer pressure to hang out with youth they know commit delinquent acts
              (61 percent vs. 53 percent).
            </li>
            <li><strong>Cheerful:</strong> Overall, Scouts are happy with their schools (78 percent) and their
              neighborhoods (79 percent). However, because Scouting builds such high ideals in youth, Scouts are
              less satisfied than non-Scouts with the state of the world today (47 percent vs. 52 percent).
            </li>
            <li><strong>Thrifty:</strong> More than eight out of 10 Scouts (82 percent) say that saving money for
              the future is a priority.
            </li>
            <li><strong>Brave:</strong> Eighty percent of Scouts say Scouting has taught them to have confidence
              in themselves, and 51 percent rate their self-confidence as “excellent.”
            </li>
            <li><strong>Clean:</strong> Nearly the same number of Scouts (79 percent) agree that Scouting has
              taught them to take better care of the environment and that Scouting has increased their interest in
              physical fitness.
            </li>
            <li><strong>Reverent:</strong> Scouting experience also influences religious service attendance.
              Eighty-three percent of men who were Scouts five or more years say attending religious services
              together as a family is “very important,” versus 77 percent of men who had never been Scouts.
            </li>
          </ul>
          <a href="http://www.scouting.org/About/Research/ValuesofAmericans.aspx">Values of Americans Study</a>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <h3 class="header header-primary">&nbsp;&nbsp;BSA Mission Statement</h3>
          <div class="content">
            <p>The mission of the Boy Scouts of America is to prepare young people to make ethical and moral choices
              over their lifetimes by instilling in them the values of the Scout Oath and Scout Law.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <h3 class="header header-primary">&nbsp;&nbsp;Scout Oath</h3>
          <div class="content">
            <p>On my honor I will do my best to do my duty to God and my country and to obey the Scout Law; to help
              other
              people at all times; to keep myself physically strong, mentally awake, and morally straight.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <h3 class="header header-primary">&nbsp;&nbsp;Scout Law</h3>
          <div class="content">
            <p>A Scout is trustworthy, loyal, helpful, friendly, courteous, kind, obedient, cheerful, thrifty, brave,
              clean, and reverent.</p>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card">
          <h3 class="header header-primary">&nbsp;&nbsp;BSA Vision Statement</h3>
          <div class="content">
            <p>The Boy Scouts of America will prepare every eligible youth in America to become a responsible,
              participating citizen and leader who is guided by the Scout Oath and Scout Law.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



