
<div class="page-header header-filter" data-parallax="active" style="background-image: url(<%= image_url('troop433.jpg') %>); margin-top: 0px;">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <p>&nbsp;</p>
          <h1 class="title">Boy Scout Troop 433</h1>
          <h1>&nbsp;</h1>
          <h2> </h2>
          <h4>A volunteer organization serving the boys of the Longwood community of
            Suffolk County for over 35 years.
          </h4>
        </div>
        <div class="col-md-12 text-center small">
          <h1>&nbsp;</h1>
          <h2>&nbsp;</h2>
          <p>Our chartered organization is the Middle Island Fire Department, located on Arnold Drive in Middle Island,
            New York.<br/>
            We are a Quality Unit in the Benjamin Tallmadge District of the Suffolk County Council.</p>
        </div>
      </div>
    </div>
  </div>