<h1>StaticPages#home</h1>
<p>Find me in app/views/static_pages/home.html.erb</p>

<%= link_to 'View Scouts', scouts_path %> |
<%= link_to 'View Patrols', patrols_path %> |
<%= link_to 'View Positions', positions_path %> |
<%= link_to 'View Ranks', ranks_path %>
