<h1 align="center">Troop Website Users</h1>
<% @users.each do |user| %>
    <hr/>
    <div class="row">
      <div class="col-xs-1 offset-xs-2"><%= link_to gravatar_for(user), profile_path(user) %></div>
      <div class="col-xs-2 pad-top"><%= user.username %></div>
      <div class="col-xs-3 pad-top"><%= user.email %></div>
      <div class="col-xs-2 pad-top"><%= pluralize(user.articles.count, "article") if user.articles %></div>
    </div>
<% end %>