<%= content_for(:title, 'Rename Position') %>
<div class="card col-sm-6 col-sm-offset-2">
  <div class="row">
    <div class="card-header" data-background-color="dkblue">
      <h4>Position</h4>
    </div>
    <div class="card-content">
        <%= render 'form', position: @position %>
    </div>
  </div>
</div>    



