<%= form_for(scout_requirement, remote: true, :html => { :role => "form" }) do |f| %>

<%= f.text_area :scout_id %>
<%= f.text_area :requirement_id %>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
