<p></p>
<p>Hello <%= @adult.name %>,</p>
<p></p>
<p>Please be aware that your Youth Protection Training expired <%= @adult.days_remaining_ypt %>. Please visit
   https://my.scouting.org/ and take the Online Youth Protection Course.</p>
<p></p>
<p>Please print out the certificate of completion presented at the end of the course and give it to the Scoutmaster
 or Committee Chair at the next meeting</p>
<p></p>
Thanks,
Troop <%= Rails.configuration.troop_website.troop_number %>
