<%= content_for(:title, 'Edit Assigned Position') %>
<div class="card col-sm-6 col-sm-offset-2">
  <div class="row">
    <div class="card-header" data-background-color="dkblue">
      <h4>Adult Position</h4>
    </div>
    <div class="card-content"><%= render 'form' %>
    </div>
  </div>
</div>