<%= content_for(:title, 'New Notification') %>
<div class="card col-sm-6 col-sm-offset-2">
  <div class="row">
    <div class="card-header" data-background-color="dkblue">
      <h4>Add a new Notification</h4>
    </div>
    <div class="card-content">
      <%= render 'form' %>
    </div>
  </div>
</div>
