<div class="card col-sm-12">
  <div class="row">
    <div class="card-header" data-background-color="dkblue">
      <h5>Trainings
        <span class="pull-right"><%= link_to '<i class="fa fa-plus" aria-hidden="true"></i>'.html_safe,
                                             new_adult_training_path(adult_id: @adult.id) %></span>
      </h5>
    </div>
    <div class="card-content">
      <table class="table table-responsive table-striped">
        <% unless @adult.adult_trainings.blank? %>
            <thead>
            <th>Course Name</th>
            <th>Date Completed</th>
            </thead>
        <% end %>
        <% @adult.adult_trainings.each do |adult_training| %>
            <% training_expired =  adult_training.training_expired?(adult_training.adult_training_course,adult_training.completed_date) %>
            <tr class="<%= 'alert-danger' if training_expired %>">
              <td><%= adult_training.adult_training_course.name %></td>
              <td><%= date_for_display(adult_training.completed_date) %></td>
            </tr>
        <% end %>
      </table>
    </div>
  </div>
</div>
