<% if obj.errors.any? %>
    <div class="row">
      <div class="col-xs-8 offset-xs-2">
        <div class="alert alert-danger">
          <div class="alert-heading">
            <h4 class="alert-title">
              <%= pluralize(obj.errors.count, "error") %>
              prohibited this <%= controller_name.singularize %> from being saved:
            </h4>
            <div>
              <ul>
                <% obj.errors.full_messages.each do |msg| %>
                    <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
<% end %>