<table class="table table-bordered">
  <thead>
    <tr>
      <th>Scout</th>
      <th>Rank</th>
      <th>Rank Completed</th>
    </tr>
  </thead>
<% @scout_rank_histories.each do |sr_history| %>
      <tr>
        <td><%= sr_history.scout.name %></td>
        <td><%= sr_history.rank.name%></td>
        <td><%= l sr_history.rank_completed %></td>
      </tr>
<% end %>
</table>