<%= content_for(:title, 'Scout Details') %>
<div class="card">
    <div class="card-header" data-background-color="dkblue">
      <h4 class="card-title"><%= @scout.name %></h4>
    </div>
        <%= render 'scout_card_detail', obj: @scout %>
    </div>
</div>
<%= render 'scouts/scout_detail_nav_bar' %>

