<% if (current_user.role? :leader_full) %>
    <li>
      <a data-toggle="collapse" href="#leader_full">
        <i class="material-icons">settings</i>
        <p>Site Configuration
          <b class="caret"></b>
        </p>
      </a>
      <div class="collapse" id="leader_full">
        <ul class="nav">
          <li><%= nav_link 'Categories', categories_path %></li>
        </ul>
      </div>
    </li>
<% end %>