<% if (current_user.role? :parent) %>
    <% relationships = Relationship.where(user_id: current_user) %>
    <% case relationships.count %>
<% when 0 %>

    <% when 1 %>
        <% relationship = relationships.first %>
        <%= nav_link "<i class='material-icons'>face</i><p>#{relationship.scout.name}</p>".html_safe, scout_path(relationship.scout_id) if relationship.scout.active?  %>
    <% else %>
        <li>
          <a data-toggle="collapse" href="#myScout">
            <i class="material-icons">dashboard</i>
            <p>My Scouts
              <b class="caret"></b>
            </p>
          </a>
          <div class="collapse" id="myScout">
            <ul class="nav">
              <% relationships.each do |relationship| %>
                  <%= nav_link "<p>#{relationship.scout.name}</p>".html_safe, scout_path(relationship.scout_id) if relationship.scout.active? %>
              <% end %>
            </ul>
          </div>
        </li>
    <% end %>
<% end %>