<%= content_for(:title, 'Create Association to a Vehicle') %>
<div class="card col-sm-6 col-sm-offset-2">
  <div class="row">
    <div class="card-header" data-background-color="dkblue">
      <h4><%= Adult.find(params[:adult_id]).name %></h4>
    </div>
    <div class="card-content">
      <%= render 'form' %>
    </div>
  </div>
</div>