<div class="page-header header-filter header-small" data-parallax="active"
     style="background-image: url(<%= image %>); margin-top: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2 text-center">
        <h2 class="title"><%= headline %></h2>
      </div>
    </div>
  </div>
</div>
