<div class="page-header header-filter" data-parallax="active" style="background-image: url(<%= image_url('public/public_landing.jpg') %>); margin-top: 0px;">
  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <p>&nbsp;</p>
        <% if current_page?(action: :join_our_troop) %>
            <h1 class="title">Want to Join Troop <%= Rails.application.config.troop %>?</h1>
        <% else %>
            <h1 class="title">Boy Scout Troop <%= Rails.application.config.troop %></h1>
        <% end %>
        <h1>&nbsp;</h1>
        <h2></h2>
        <% if current_page?(action: :join_our_troop) %>
            <h4> Thanks for evaluating Troop <%= Rails.application.config.troop %>. We are scout lead troop serving the Longwood community. Please scroll
              down for more information about us. Hope to see you at one of our troop meetings soon.</h4>
        <% else %>
            <h4>A volunteer organization serving the boys of the Longwood community of
              Suffolk County for over 35 years.</h4>
        <% end %>
      </div>
      <div class="col-md-12 text-center small">
        <h1>&nbsp;</h1>
        <% if current_page?(action: :join_our_troop) %>
            <h3>&nbsp;</h3>
        <% else %>
            <h4>&nbsp;</h4>
        <% end %>
        <p>Our chartered organization is the Middle Island Fire Department, located on Arnold Drive in Middle Island,
          New York.<br/>
          We are a Quality Unit in the Benjamin Tallmadge District of the Suffolk County Council.</p>
      </div>
    </div>
  </div>
</div>