<%= content_for(:title, 'Event Attendance') %>
<div class="row col-sm-8 col-sm-offset-2 text-center">
  <div class="card">
    <div class="card-header" data-background-color="green">
      <% if params[:adult_id] %>
          <h2 class="title">Add <%= Adult.find(params[:adult_id]).name %> to Event</h2>
      <% end %>
      <% if params[:event_id] %>
          <h2 class="title">Add Adult to <%= Event.find(params[:event_id]).title %></h2>
      <% end %>
    </div>
    <div class="card-content">
      <%= render 'form' %>
    </div>
  </div>
</div>