/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 */
@import "bootstrap";
@import "font-awesome";
$bsa_blue: #003F87;
$bsa_blue_light: #7FBDFF; // Lightened 50%
$bsa_red: #CE1126;
$bsa_brown: #996633;
$bsa_yellow: #FFCC00;
$venture_green: #006B3F;

body { padding-top: 60px;
       padding-bottom: 60px;
}
.inverted {
  filter: invert(100%);
}

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}

.center {
  text-align: center;
}

.jumbotron {
  background-image: asset-url('splash.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: $bsa_blue;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
}

.pad-top {
  padding-top: 30px;
}

.tw_pagination {
  text-align: center;
  cursor: default; }
.tw_pagination a, .tw_pagination span {
  padding: 0.2em 0.3em; }
.tw_pagination .disabled {
  color: #aaaaaa; }
.tw_pagination .current {
  font-style: normal;
  font-weight: bold;
  background-color: $bsa_yellow;
  display: inline-block;
  width: 1.4em;
  height: 1.4em;
  line-height: 1.5;
  -moz-border-radius: 1em;
  -webkit-border-radius: 1em;
  border-radius: 1em;
  text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px; }
.tw_pagination a {
  text-decoration: none;
  color: black; }
.tw_pagination a:hover, .tw_pagination a:focus {
  text-decoration: underline; }

.alert-alert {
  @extend .alert-warning;
}

.alert-notice {
  @extend .alert-info;
}
.small {
  font-size: 75%
}
.text-right {
  text-align: right;
}

a:link {
  text-decoration: none;
}

//buttons
.btn-xlarge {
  font-size: 1.7em;
  background-color: black;
}

.btn-primary {
  background-color: $bsa_blue;
}

.btn-success {
  background-color: $venture_green;
}

.btn-danger {
  background-color: $bsa_red;
}

//cards
.card-header {
  background-color: $bsa_blue;
  color: white;
}
.card-header a {
  color: white;
}
.card-header a:hover {
  color: $bsa_yellow;
}

.checkbox-inline {
  padding-left: 5px;
}

.checkbox {
  margin-right: 5px;
}

//table

.table-striped>tbody>tr:nth-child(odd)>td,
.table-striped>tbody>tr:nth-child(odd)>th {
  background-color: $bsa_blue_light;
}

//----------PRINT-----------------
@media print {
  body {
    margin: 0;
    padding: 0;
    line-height: 1.4em;
    word-spacing: 1px;
    letter-spacing: 0.2px;
    font: 13px Arial, Helvetica,"Lucida Grande", serif;
    color: black;
  }

  .label {
    font-weight: bold;
  }

}