
<%= content_for(:title, 'Category: ' + @category.name) %>
<div align="center">
  <%= will_paginate @category_articles %>
</div>

<%= render 'articles/articles', obj: @category_articles %>

<div align="center">
  <%= will_paginate @category_articles %>
</div>


