<body class="blog-post">
<%= render 'public/partials/navbar' %>
<div class="wrapper">
  <%
    if @eagle_scouts.count == 0
      headline = "Troop #{Rails.application.config.troop}} Eagle Roll<h3>Will you be the first?</h3>".html_safe
    else
      headline = "Troop #{Rails.application.config.troop} Eagle Roll<h3>#{@eagle_scouts.count} Eagle Scouts and counting&hellip;</h3>".html_safe
    end
  %>
  <%= render 'public/partials/header_alt',
             image: image_url('eagleflag.jpg'),
             headline: headline %>
  <%= render 'public/partials/eagle_roll' unless @eagle_scouts.count == 0 %>
</div>

</body>