<body class="blog-post">
<%= render 'public/partials/navbar', solid: false %>
<div class="wrapper">
  <%= render 'public/partials/header_alt',
             image: image_url('moss.jpg'),
             headline: 'A Brief Slideshow of this Past Years Activities'%>

  <%= render 'public/partials/slideshow' %>
</div>

</body>