<body class="blog-post">
<%= render 'public/partials/navbar', solid: true %>
<div class="wrapper">
  <div class="main main-panel">
    <div class="container">
      <div class="section" id="carousel">
        <div class="container">
          <div class="embed-responsive embed-responsive-4by3">
            <iframe src="/calendar">
              <p>There was an issue with the calendar. Sorry!</p>
            </iframe>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>

