<body class="landing-page">
<<<<<<< HEAD
<%= render 'public/partials/navbar', solid: false %>
=======
<%= render 'public/partials/navbar' %>
>>>>>>> 0493e8c... publc / private routing and controllers setup
<div class="wrapper">
  <%= render 'public/partials/header' %>
  <%= render 'public/partials/benefits' %>
</div>'
</body>