<body class="landing-page">
<%= render 'public/partials/navbar', solid: false %>
<div class="wrapper">
  <%= render 'public/partials/header' %>
  <%= render 'public/partials/benefits' %>
</div>
</body>