<div class="footer small" role="navigation">
  <div class="col-md-12">
    <div class="col-md-9">
      <a href="#">Terms of Service</a> | <a href="#">Privacy</a>
    </div>
    <div class="col-md-3">
      <p class="muted pull-right">© 2016 Bob Koertge. All rights reserved</p>
    </div>
  </div>
</div>
<div class="debug col-md-12">
<%= debug(params) if Rails.env.development? %>
</div>