<nav class="navbar navbar-light bg-faded navbar-fixed-bottom small">
  <span class="navbar-text">
    <a href="#">Terms of Service</a> | <a href="#">Privacy</a>
  </span>
  <span class="navbar-text pull-right small">
    © 2016 Bob Koertge. All rights reserved
  </span>
</nav>